@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

html {
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: #121212;
  background: #fff;
}

::selection {
  color: #121212;
  background: #fff;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #24243e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #24243e;
}
